
body {
    overflow-x: hidden;
   
}

.logo {
    position: absolute;
        bottom: 81.5%;
        max-width: 17%;
        min-width:15%;
        max-height: 12%;
        min-height:11%;
}


.white {
    min-height: 12%;
    height:auto;
    width:100%;
    background-color: rgb(255, 255, 255);
        position: absolute;
             top: 6.5%;
            right: 0px;
}



.brown {
    width: 100%;
    height: 6.5%;
    min-height:10px;
         position: absolute;
            right: 0px;
            top: 0px;
    background-color: rgb(36, 22, 10);
}

.farm-table {
    position: absolute;
        left: 79.2%;
         font-size: 80%;
        font-weight: bold;
        word-spacing: 4.5%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
         bottom: 94.5%;
color: rgb(233, 226, 221);
}



.dine {
    position:absolute;
        left: 76%;
        bottom: 92.5%;
        word-spacing: 4.5%;
        font-size: 80%;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: rgb(233, 226, 221);
}

.menubar a{
    position:relative;
    left: 43%;
    top: 8.9vh;
    font-family: "Montserrat", sans-serif;
    font-weight:100;
    color: rgb(36, 22, 10);  
    word-spacing: 5px;
    font-size: 18px;
    text-decoration: none;
}


a:hover {

    color: rgb(132, 186, 38);
    
}

.media {
        position: absolute;
             top: 1.5%;
             left: 1.2%;
     word-spacing: 7%;
}

.scut {
    position: absolute;
        bottom: 36%;
        right: 10%;
        max-width: 70%;
        max-height: 45%;
        object-fit: contain;
}


.GB {

    width: 100%;
    max-height: 25%;
  
   position: absolute;
    top: 19%;
    left: 0%;
}

h3.mnbt {
    position: absolute;
    top: 19%;
    left: 41%;
    font-size: 2.5vw;
    font-weight: 80;
    color: #E8B668;
    padding: 0.99% 2.99%;
    background-color:color-mix(
        in srgb,
        #24130F ,transparent 40%);
    border-radius: 2.5vw;
}

.abt1 {

    width: 21%;
    height: auto;
    position: absolute;
    top: 55%;
    right: 12%;
}

.abt1img2 {
    width: 19%;
    height: auto;
    position: absolute;
    top: 90%;
    right: 21%;
}

.abt1img3 {
    width: 11%;
    height: auto;
    position: absolute;
    top: 87%;
    right: 8%;
}

.wwa {
    font-family: "montserrat", sans-serif;
    font-size: 2.5vw;
    position: absolute;
    top: 48%;
    left: 26%;
    float: left;
}

.wwaline {
    position: absolute;
    top: 60%;
    left: 17.5%;
    background-color:#E8B668;
    width: 35%;
    height: 0.5%;
}

.wwap {


    width: 60%;
    height: auto;
    
font-size: 2vw;
font-weight: 370;
font-stretch: semi-expanded;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 60%;
    left: 4%;
    text-align: center;

}

.abt2 {

    width: 15%;
    height: auto;

    position: absolute;
    top: 120%;
    left: 7%;
}

.abt2img2 {
    width: 23%;
    height: auto;

    position: absolute;
    top: 160%;
    left: 5%;
}

.sh {
    position: absolute;
    font-family: "montserrat", sans-serif;
    font-size: 2.5vw;
    top: 127%;
    left: 56%;
    float: left;
}

.sline {
    position: absolute;
    top: 140%;
    right: 18.5%;
    background-color:#E8B668;
    width: 35%;
    height: 0.5%;
}

.sp {


    width: 68%;
    height: auto;
    
font-size: 2vw;
font-weight: 370;
font-stretch: semi-expanded;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    text-align: center;
    top: 139%;
    left: 31%;
}

.abt3 {

    width: 20%;
    height: auto;
    position: absolute;
    top: 190%;
    left: 69%;

}

.abt3img2 {

    width: 20%;
    height: auto;
    position: absolute;
    top: 220%;
    left: 55%;

}

.abt3img3 {

    width: 12%;
    height: auto;
    position: absolute;
    top: 224%;
    left: 77%;

}

.abt3img4 {

    width: 10%;
    height: auto;
    position: absolute;
    top: 250%;
    left: 55%;

}

.abt3img5 {

    width: 23%;
    height: auto;
    position: absolute;
    top: 250%;
    left: 70%;

}

.processh {
    position: absolute;
    top: 200%;
    left:13%;
    font-family: "montserrat", sans-serif;
    font-size: 2.5vw;
}

.processline {
    position: absolute;
    top: 213%;
    left: 8%;
    background-color:#E8B668;
    width: 35%;
    height: 0.5%;
}

.grow {
    position: absolute;
    top: 215%;
    left: 15%;
    font-family: "montserrat", sans-serif;
    font-size: 1.5vw;
}

.arrow1 {
    position: absolute;
    top: 198%;
    left: 21%;
    font-family: "montserrat", sans-serif;
    font-size: 10vw;
    color: #aacff0
}

.drivers {
    position: absolute;
    top: 227%;
    left: 8.75%;
    font-family: "montserrat", sans-serif;
    font-size: 1.5vw;
}

.arrow2 {
    position: absolute;
    top: 210%;
    left: 21%;
    font-family: "montserrat", sans-serif;
    font-size: 10vw;
    color: #aacff0
}

.chef {
    position: absolute;
    top: 239%;
    left: 8.75%;
    font-family: "montserrat", sans-serif;
    font-size: 1.5vw;
}

.arrow3 {
    position: absolute;
    top: 222%;
    left: 21%;
    font-family: "montserrat", sans-serif;
    font-size: 10vw;
    color: #aacff0
}

.order {
    position: absolute;
    top: 251%;
    left: 17%;
    font-family: "montserrat", sans-serif;
    font-size: 1.5vw;
}

.arrow4 {
    position: absolute;
    top: 234%;
    left: 21%;
    font-family: "montserrat", sans-serif;
    font-size: 10vw;
    color: #aacff0
}

.arrive {
    position: absolute;
    top: 263%;
    left: 7.5%;
    font-family: "montserrat", sans-serif;
    font-size: 1.5vw;
    text-align: center;
}

.processpi {

    width: 38%;
  position: absolute;
  top: 200%;
  left: 13%;

}

.w {


    height: 10%;
    width: 10%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 275%;

}
