
body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.logo {
    position: absolute;
        bottom: 81.5%;
        max-width: 17%;
        min-width:15%;
        max-height: 12%;
        min-height:11%;
}


.white {
    min-height: 12%;
    height:auto;
    width:100%;
    background-color: rgb(255, 255, 255);
        position: absolute;
             top: 6.5%;
            right: 0px;
}



.brown {
    width: 100%;
    height: 6.5%;
    min-height:10px;
         position: absolute;
            right: 0px;
            top: 0px;
    background-color: #24160a;
}

.farm-table {
    position: absolute;
        left: 79.2%;
         font-size: 80%;
        font-weight: bold;
        word-spacing: 4.5%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
         bottom: 94.5%;
color: rgb(233, 226, 221);
}



.dine {
    position:absolute;
        left: 76%;
        bottom: 92.5%;
        word-spacing: 4.5%;
        font-size: 80%;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: rgb(233, 226, 221);
}

.menubar a{
    position:relative;
    left: 43%;
    top: 8.9vh;
    font-family: "Montserrat", sans-serif;
    font-weight:100;
    color: rgb(36, 22, 10);  
    word-spacing: 5px;
    font-size: 18px;
    text-decoration: none;
}


a:hover {

    color: rgb(132, 186, 38);
    
}

.media {
        position: absolute;
             top: 1.5%;
             left: 1.2%;
     word-spacing: 7%;
}

.scut {
    position: absolute;
        bottom: 33%;
        right: 15.5%;
        font-family: "Libre Caslon Text", sans-serif;
        font-size: 9.5vw;
        color:white;
}

.scut2 {
    position: absolute;
        bottom: 13%;
        right: 9.5%;
        font-family: "Libre Caslon Text", sans-serif;
        font-size: 9.5vw;
        color:white;
        text-align: center;
}

.lineo {
    background-color: rgb(255, 255, 255);
    width: 65%;
    height: 0.5%;
    position: absolute;
    bottom: 78.5%;
    right: 2.5%;
} 

.linet {
    background-color: rgb(255, 255, 255);
    width: 65%;
    height: 0.5%;
    position: absolute;
    bottom: 28%;
    right: 2.5%;
}

.vega {
        position: absolute;
        bottom: 22%;
        right: 16%;
        font-family: "Libre Caslon Text", sans-serif;
        font-size: 3vw;
        color: #eda434;

}


.rpu {
    position: absolute;
        bottom: 16%;
        right: 28%;
        max-width:18%;
        min-width:14%;
        width:auto;
        max-height: 8%;
        height:auto;
     border-radius: 27px;
  
    background-color: color-mix(
        in srgb,
        #f4d6a9 ,transparent 40%);

 font-size: 2.8vw;
     text-decoration: none;
     text-align: center;
     color: rgb(255, 255, 255);
     font-family: "Montserrat",sans-serif;
}
  
